<div class="col text-center text-uppercase">
  <small style="font-family: Rockwell">American Latin Class</small>
  <h2 style="font-family: Rockwell">Instructores</h2>
</div>

<div class="card" style="width: 15rem; margin-left: 50px;">
  <img src="../../../assets/images/olf.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Yadira Pacheco</h5>
    <p class="card-text">Una amplia experiencia sobre el old school lo cual nos da una mayor facilidad enseniar nuevos ritmos</p>
    <a href="#" class="btn btn-primary">Solicitar Informacion</a>
  </div>

</div>

<div class="card" style="width: 15rem; margin-left: 370px; margin-top: -515px;">
  <img src="../../../assets/images/ar.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Mayerli Cruz</h5>
    <p class="card-text">Una gran instrutctora que nos ayuda a entender sobre la danza del abdomen y moviemientos de cadera</p>
    <a href="#" class="btn btn-primary">Solicitar Informacion</a>
  </div>
</div>

<div class="card" style="width: 15rem; margin-left: 690px; margin-top: -515px;">
  <img src="../../../assets/images/ur.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Nenger</h5>
    <p class="card-text">Bailarin profesional en ritmos urbanos dancehall, afrodance, hip-hop, brakdance, commercial dance, house, entre otros</p>
    <a href="#" class="btn btn-primary">Solicitar Informacion</a>
  </div>
</div>


